  /* basic style */
  body {
      background-color: rgba(210, 247, 209, 0.3);
      font-family: Arial, Helvetica, sans-serif;
  }

  h1 {
      text-align: center;
      color: #3f9142;
  }

  p {
      text-align: justify;
      letter-spacing: 1px;
  }

  * {
      box-sizing: border-box;
  }


  /* Container for flexboxes */
  .myflexboxRow {
      display: flex;
      flex-wrap: wrap;
  }

  /* Create four equal entries in myflexbox */
  .myflexboxColumn {
      flex: 33%;
      padding: 20px;
  }

  /* buttons */
  #resetButtonID {
      font-size: 20px;
      background-color: #e7e7e7;
      color: black;
  }

  #getJONButtonID {
      font-size: 20px;
      background-color: #4CAF50;
  }

  #theUserNameID {
      font-size: 20px;
  }

  #map {
      height: 300px;
      width: 100%;
  }


  /* card stuff */
  /* Float four columns side by side */
  .column {
      float: left;
      width: 33%;
      padding: 10px 10px;
  }

  /* Remove extra left and right margins, due to padding */
  .row {
      margin: 0 -5px;
  }

  /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }

  /* Responsive columns */
  @media screen and (max-width: 600px) {
      .column {
          width: 100%;
          display: block;
          margin-bottom: 20px;
      }
  }

  /* Style the counter cards */
  .card {
    font-size: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      text-align: center;
      background-color: #f1f1f1;
  }