  /* basic style */
  body {
      background-color: rgba(210, 247, 209, 0.3);
  }

  h1 {
      text-align: center;
      color: #3f9142;
  }

  p {
      text-align: justify;
      letter-spacing: 1px;
  }

  /* Container for flexboxes */
  .myflexboxRow {
      display: flex;
      flex-wrap: wrap;
  }

  /* Create four equal entries in myflexbox */
  .myflexboxColumn {
      flex: 33%;
      padding: 20px;
  }

  /* buttons */
  #resetButtonID {
      font-size: 20px;
      background-color: #e7e7e7;
      color: black;
  }

  #getJONButtonID {
      font-size: 20px;
      background-color: #4CAF50;
  }

  #resetParaButtonID {
      font-size: 20px;
      background-color: #af4c4c;
  }